

header{

    background-color: lightblue;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/652/confectionary.png);
    border-bottom: solid;
}
body{
    text-align: center;
    margin: 0; 

}

table, tr, td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}
.pixelDraw{
    padding: 0 auto;
    background-color: white;
}
h2{
    padding-top: 1%;
}
h3{
    padding-top: 1%;
}
h4{
    padding-top: 1%;
}
input[type=number] {
    width: 6em;
}
.guess{

    color: red;
font-size: 20px;

}

option{
    font-size: 20px;

}

h1{
    margin-top: 0px;
padding: 2%;
}


#status{

    color: blue;
}